@using ColorCode;

@model IndexViewModel

<div class="d-grid">
    <partial name="_chatHistory.cshtml" model="Model.ChatHistory" />

    <partial name="_steps.cshtml" model="Model.Result is not null || Model.Context is not null" />

    <div class="p-2">
        <form method="post" asp-action="PostList">
            @for (var i = 0; i < Model.ChatHistory.Count; i++)
            {
                <input type="hidden" name="chatHistory[@i].type" value="@Model.ChatHistory[i].Type" />
                <input type="hidden" name="chatHistory[@i].content" value="@Model.ChatHistory[i].Content" />
            }
            <div class="mb-3">
                <label for="prompt" class="form-label"></label>
                <textarea class="form-control" id="prompt" name="prompt" rows="3">@(Model.IsFirst ? "Show all the active products" : "")</textarea>
            </div>

            <button type="submit" class="btn btn-primary">List</button>
        </form>
    </div>

    <partial name="_response.cshtml" model="(Model.Response, Languages.Sql)" />

    <partial name="_table.cshtml" model="Model.Result" />

    <partial name="_faq.cshtml" />
</div>