@{
    ViewData["Title"] = "Home Page";
}

<form method="post">
    <textarea class="form-control" text-wrap:normal" type="text" name="query"></textarea>

    <input type="submit">
</form>

<ul>
@foreach (var message in ViewBag.Data)
{
    <li>@message</li>
}
</ul>