@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<form method="post">
    <textarea class="form-control" text-wrap:normal" type="text" name="prompt"></textarea>

    <input type="submit">
</form>

@foreach (var message in Model.Messages)
{
    <p>@message</p>
}

<p>
    @Model.SqlQuery
</p>

<table id="dataTable" class="display" style="width:100%">
    <thead>
        <tr>
            @foreach (var keyValuePair in Model.Data.FirstOrDefault() ?? Array.Empty<string>())
            {
                <th>@keyValuePair.Key</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model.Data)
        {
            <tr>
                @foreach (var keyValuePair in row)
                {
                    <td>@keyValuePair.Value</td>
                }
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    setTimeout(() => {
        $('#dataTable').DataTable();
    }, 1000);
</script>