@{
    ViewData["Title"] = "Home Page";
}

<form method="post">
    <textarea class="form-control" text-wrap:normal" type="text" name="query"></textarea>

    <input type="submit">
</form>

@Html.Raw(ViewBag.Data)