@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<form method="post">
    <textarea class="form-control" text-wrap:normal" type="text" name="prompt"></textarea>

    <input type="submit">
</form>

@foreach (var message in Model.Messages)
{
    <p>@message</p>
}

@if (Model.ExecutionResult is null)
{
    return;
}

@if (!Model.ExecutionResult.IsSuccessful)
{
    <p>Failed to execute the prompt</p>
}

<button type="button" class="collapsible">Schema</button>
<div class="content">
@foreach (var message in Model.ExecutionResult.Schema ?? new())
{
    <p>
        @message
    </p>
}
</div>

<p>
    @Model.ExecutionResult.Query
</p>

<table id="dataTable" class="display" style="width:100%">
    <thead>
        <tr>
            @foreach (var keyValuePair in Model.ExecutionResult?.Rows?.FirstOrDefault() ?? Array.Empty<string>())
            {
                <th>@keyValuePair.Key</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model.ExecutionResult?.Rows ?? new())
        {
            <tr>
                @foreach (var keyValuePair in row)
                {
                    <td>@keyValuePair.Value</td>
                }
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    setTimeout(() => {
        $('#dataTable').DataTable();
    }, 1000);
</script>