@inject IJSRuntime JSRuntime

@if (Code is not null || true)
{
    <div>
        <canvas id="myChart"></canvas>
    </div>

    <script id="chartScript"></script>

    <script>
        Blazor.registerFunction('RawHtml', function (element, value) {
            element.innerHTML = value;
        });
    </script>
}

@code {
    [Parameter]
    public string? Data { get; set; }

    [Parameter]
    public string? Code { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Code = "";

        //Code = @"""{ type: 'line', data: { labels: ['Jan', 'Feb', 'Mar'], datasets: [{ label: 'Cars sold', data: [26, 44, 54], backgroundColor: '#57a64a', borderColor: '#57a64a', fill: false }] } } """;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var code = "";

        await JSRuntime.InvokeVoidAsync("RawHtml", "chartScript", code);
    }
}