@using System.Text.Json
@inject IJSRuntime JSRuntime

<div>
    <canvas id="myChart"></canvas>
</div>

@code {
    [Parameter]
    public string? Data { get; set; }

    [Parameter]
    public string? Code { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (Code is null || Data is null)
        {
            return;
        }

        var function = $@"
            var context = JSON.parse('{Data}');

            if (Chart.getChart('myChart')) {{
                Chart.getChart('myChart')?.destroy();
            }}

            {Code}
            ";

        await JSRuntime.InvokeVoidAsync("eval", function);
    }
}